<!DOCTYPE html>
<html>
<head>
    <style>
        table, td, th {
            border: 1px solid #000;
            text-align: left;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            text-align: left;
            padding: 8px;  
        }
        th {
            background-color: blueviolet;
            color: #000;
        }
    </style>    
</head>
<body>
    <h2>Warna Table Pada CSS</h2>
    <table>
        <tr>
            <th>Nama Depan</th>
            <th>Nama Belakang</th>
            <th>Jenis Kelamin</th>
        </tr>
        <tr>
            <td>Salsa</td>
            <td>Aprilia</td>
            <td>Perempuan</td>
        </tr>
        <tr>
            <td>Salman</td>
            <td>Jamalulail</td>
            <td>Laki-laki</td>
        </tr>
        <tr>
            <td>Saqil</td>
            <td>Pramudya</td>
            <td>Laki-laki</td>
        </tr>
    </table>
</body>
</html>